/* 
    - You can tweak canvas dimensions into load function
    - If you're doing this, you should tweak the resize listener in inputs.js
   */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #999;
  max-width: 100%;
  max-height: 100%;
}
